/* base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #region header */
.header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.address-nav-list {
  display: flex;
  gap: 40px;
}

.header-span {
  color: #2e2f42;
}
.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-nav-item {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-item:focus,
.header-nav-item:hover,
.header-nav-item.current {
  color: #404bbf;
}

.header-nav-item.current {
  position: relative;
}

.header-nav-item.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: #404bbf;
}
/* #endregion header */

/* #region main */

/* #region section effective-solutions */
.section-effective-solutions {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding: 188px 0;
}
.effective-h {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.order-service-button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:focus,
.order-service-button:hover {
  background-color: #404bbf;
}
/* #endregion section effective-solutions */
/* #region section advantages */

.advantages {
}

.advantages-item {
  width: calc((100% - 24px * 3) / 4);
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.advantages-icon-box {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.advantages-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-p {
}
/* #endregion section advantages */
/* #region Our Team */

.section-our-team {
  background-color: #f4f4fd;
}

.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-social-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.our-team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-icon {
  fill: #f4f4fd;
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: #404bbf;
}

.our-team-container {
  padding: 32px 0;
}

.our-team-li img {
}
.our-team-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.our-team-p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}
/* #endregion Our Team */
/* #region Our Portfolio */

.section-our-portfolio {
}

.our-portfolio-list-one {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 24px * 2) / 3);
}
.our-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-list-one img {
}

.our-portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.tymba-portfolio {
  position: relative;
  overflow: hidden;
}
.tymba-portfolio-text {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  width: 360px;
  height: 300px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover .tymba-portfolio-text {
  transform: translateY(0%);
}

/* #endregion Our Portfolio */

/* #endregion main */

/* #region footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.container-foter-logo {
  margin-right: 120px;
}

.footer-p {
  color: #f4f4fd;
  width: 264px;
}
.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.span-studio {
  color: #f4f4fd;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-social {
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  margin-bottom: 16px;
}

.foter-social-list {
  display: flex;
  gap: 16px;
}

.foter-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-social-icon {
  fill: #f4f4fd;
}

.foter-social-link:hover,
.foter-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: auto;
}

.input-footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  width: 264px;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.input-footer-email::placeholder {
  color: #fff;
}

.footer-button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
}

.footer-button-subscribe:focus,
.footer-button-subscribe:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.icon-footer-form-button {
  margin-left: 16px;
  fill: #fff;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

/* #endregion footer */

/* #region modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-conteiner-modal {
  margin-bottom: 8px;
}

.closed-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closed-modal:focus,
.closed-modal:hover {
  background-color: #404bbf;
  border: none;
}

.closed-modal svg,
.closed-modal svg {
  fill: #2e2f42;
}

.closed-modal:focus svg,
.closed-modal:hover svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-wrapper svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.modal-form-wrapper:has(input:hover) .popup-icon,
.modal-form-wrapper:has(input:focus) .popup-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 4px;
  color: #8e8f99;
}
.modal p {
  margin-bottom: 16px;
  font-weight: 500;

  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal input {
  background-color: transparent;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper input:hover,
.modal-form-wrapper input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-wrapper-comment textarea:hover,
.modal-form-wrapper-comment textarea:focus {
  border: 1px solid #4d5ae5;
  border-color: #4d5ae5;
}

.tex-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tex-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wraper {
  margin-bottom: 24px;
}

.checkbox-wraper input:checked + .modal-label > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .checkbox-wraper label {
  display: flex;
  align-items: center;
  gap: 8px;
} */

.modal-form-wrapper-comment {
  margin-bottom: 16px;
}

.checkbox {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
  color: #4d5ae5;
}

.button-send-modal {
  display: block;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send-modal:hover,
.button-send-modal:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

/* #endregion modal */
